.navigator {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.navigator__searchItem {
    width: 70%;
    height: 40px;
}

@media (max-width: 800px) {
    .navigator {
        flex-direction: column;
        height: 100px;
    }
}